---
export interface Props {
  scrollToLink: string
}

const { scrollToLink } = Astro.props
---

<a href={scrollToLink} aria-label="Learn more about our work" title="Work">
  <svg
    width="314"
    height="172"
    viewBox="0 0 314 172"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M157 156.421L298.421 15" stroke="#1e1e1e" stroke-width="30" stroke-linecap="round"
    ></path>
    <path
      d="M156.845 156.787L15.4239 15.3653"
      stroke="#1e1e1e"
      stroke-width="30"
      stroke-linecap="round"></path>
  </svg>
</a>

<style>
  svg {
    display: none;
  }

  @media (min-width: 768px) {
    svg {
      width: 3rem;
      height: 3rem;
      display: block;
      margin: auto;
      animation: bounce 2s ease-in-out infinite;
    }
  }
</style>
