<div id="desktop-nav" class="desktop-nav">
  <ul>
    <li><a href="/#work" aria-label="Work">Work</a></li>
    <li><a href="/#about" aria-label="About">About</a></li>
    <li><a href="/pricing" aria-label="Pricing">Pricing</a></li>
    <li><a href="/blog" aria-label="Blog">Blog</a></li>
    <li><a href="/#contact" aria-label="Contact">Contact</a></li>
  </ul>
</div>

<style>
  .desktop-nav {
    display: none;
  }

  @media (min-width: 768px) {
    .desktop-nav {
      display: block;
      z-index: 2;
    }
  }

  @media (min-width: 768px) {
    .desktop-nav ul {
      display: flex;
      gap: 2rem;
    }
  }

  @media (min-width: 768px) {
    .desktop-nav li {
      font-size: var(--size-base);
    }
  }

  @media (min-width: 768px) {
    .desktop-nav li a {
      transition: all var(--transition-normal);
    }

    .desktop-nav li a:hover {
      color: var(--color-purple);
    }
  }
</style>
