<div class="scrolling-navigation-container">
  <div id="scrolling-navigation" class="scrolling-navigation">
    <a class="dot active" href="/#" data-index="0"></a>
    <a class="dot" href="/#work" data-index="1"></a>
    <a class="dot" href="/#about" data-index="2"></a>
    <a class="dot" href="/#faq" data-index="3"></a>
    <a class="dot" href="/#contact" data-index="4"></a>
  </div>
</div>

<style>
  .scrolling-navigation-container {
    position: fixed;
    right: 2.5%;
    bottom: 1rem;
    padding: 1rem 1rem 1rem 0;
    z-index: 2;
  }

  @media (min-width: 768px) {
    .scrolling-navigation-container {
      bottom: 4rem;
      padding: 0 2rem 0 0;
    }
  }

  @media (min-width: 1517px) {
    .scrolling-navigation-container {
      right: calc(50% - 45rem);
    }
  }

  .scrolling-navigation {
    width: 20px;
  }

  .scrolling-navigation .dot {
    display: block;
    height: 20px;
    width: 100%;
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
    border-radius: 50%;
    transition: all var(--transition-normal);
    cursor: pointer;
  }

  .scrolling-navigation .dot:not(:last-child) {
    margin-bottom: 1rem;
  }

  .scrolling-navigation .dot.active {
    background-color: var(--color-green);
  }
</style>

<script>
  const navigationDots = document.querySelectorAll('.scrolling-navigation .dot')
  let activeDotIndex = 0
  let currentDotIndex = 0

  function handleShowSection(section: HTMLElement) {
    if (!section.classList.contains('active')) {
      section.classList.add('active')
    }
  }

  function handleActiveNavigationDotStyling(element = this) {
    // Prevent removing/adding class unnecessarily
    if (activeDotIndex === currentDotIndex) return

    // Active dot index increased (scrolling down)
    // Style newly active dot
    navigationDots.forEach((dot) => dot.classList.remove('active'))
    element.classList.add('active')

    // Update current dot index
    currentDotIndex = activeDotIndex
  }

  function handleActiveElementsOnScroll() {
    if (!window.IntersectionObserver) return console.log('IntersectionObserver not supported')

    // Grab sections
    const header = document.getElementById('header') as HTMLElement
    const work = document.getElementById('work') as HTMLElement
    const about = document.getElementById('about') as HTMLElement
    const faq = document.getElementById('faq') as HTMLElement
    const contact = document.getElementById('contact') as HTMLElement
    const sections = [header, work, about, faq, contact]

    const options = {
      root: null,
      rootMargin: '0px',
      threshold: 0.1,
    }

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const section = entry.target as HTMLElement
          const index = section.getAttribute('data-scroll-index') as string

          activeDotIndex = +index
          handleShowSection(section)
        }
      })
    }, options)

    sections.forEach((section) => observer.observe(section))

    handleActiveNavigationDotStyling(document.querySelector(`.dot[data-index="${activeDotIndex}"]`))
  }

  document.addEventListener('DOMContentLoaded', handleActiveElementsOnScroll)
  document.addEventListener('scroll', handleActiveElementsOnScroll)
  navigationDots.forEach((dot) => dot.addEventListener('click', handleActiveNavigationDotStyling))
</script>
