---
export interface Props {
  text: string
  class?: string
}

const { text, class: className } = Astro.props
---

<h2 class={className}>{text}</h2>

<style>
  h2 {
    margin: 1rem 0 2rem;
    font-size: var(--size-large);
    text-align: center;
  }

  @media (min-width: 768px) {
    h2 {
      font-size: var(--size-extra-large);
      text-align: center;
    }
  }
</style>
