---
export interface Props {
  text: string
  class?: string
}

const { text, class: className } = Astro.props
---

<h2 class={className}>{text}</h2>

<style>
  h2 {
    margin-bottom: 1rem;
    font-size: var(--size-large);
    text-align: center;
  }

  @media (min-width: 768px) {
    h2 {
      margin-bottom: 2rem;
      text-align: center;
    }
  }
</style>
