---
import SectionHeader from '../../Layout/SectionHeader.astro'
---

<section id="faq" data-scroll-index="3">
  <SectionHeader text="Frequently Asked Questions" />
  <details>
    <summary>What kind of websites do you build?</summary>
    <p>
      We build marketing, blog, and e-commerce websites that are high-performance, SEO-friendly, and
      beautifully responsive on all modern devices. A marketing website is like an online business
      card, showcasing your work. A blog is perfect for sharing your thoughts and engaging with your
      audience. An e-commerce site allows you to sell products or services directly from your
      website.
    </p>
  </details>
  <details>
    <summary>How long will it take to build my website?</summary>
    <p>
      The time to build a website varies based on its complexity. A simple marketing site can be
      completed in a few weeks, while a more intricate e-commerce site might take a couple of
      months. We offer a wide variety of website solutions that can handle just about any turnaround
      requirement. Rest assured, we will work closely with you to set realistic timelines.
    </p>
  </details>
  <details>
    <summary>Can you help me choose a domain name for my website?</summary>
    <p>
      Yep! Domain names are a whole thing and are especially important when it comes to search
      engine optimization (SEO). Wave Land Web can assist you in finding the perfect domain name
      that aligns with your brand and captures your unique identity. Informed by your preferences,
      we'll help you secure a memorable web address.
    </p>
  </details>
  <details>
    <summary
      >Do I need any pre-existing technical knowledge to own, maintain and update my website?</summary
    >
    <p>
      Nope! We believe in empowering clients with the knowledge necessary to be successful website
      owners. All updates are handled for you at an affordable hourly rate, or we can set you up
      with our monthly development package that includes unlimited updates and maintenance.
      Unlimited customer support is provided at no extra cost no matter which option you choose.
    </p>
  </details>
  <details>
    <summary>Can you help with content creation?</summary>
    <p>
      Knowing what content to include on a website can be overwhelming. In addition to building and
      hosting your website, Wave Land Web is here to help with content planning, SEO and marketing
      goals, and all other project management-related steps.
    </p>
  </details>
  <details>
    <summary
      >What happens if I want to add new features or pages to my website in the future?</summary
    >
    <p>
      Websites are alive and ever-evolving and we are here to support you even after initial website
      development. Reach out anytime to discuss your needs and we will provide you with a tailored
      solution to accommodate any updates or additions.
    </p>
  </details>
  <details>
    <summary>Can you optimize my website for search engines (SEO)?</summary>
    <p>
      For sure! By default, every website is built while paying close attention to things like
      search engine optimization (SEO), accessibility (A11y), and performance. We will optimize your
      site's structure, meta tags, and content to improve its visibility in search engine results
      and help you attract more organic traffic.
    </p>
  </details>
  <details>
    <summary>Will my website be mobile-friendly?</summary>
    <p>
      Yes! Mobile accessibility has never been more important. All of the websites we create are
      fully responsive, meaning they will look and function great on all devices, from smartphones
      to tablets and desktops.
    </p>
  </details>
  <details>
    <summary>Can you provide hosting and maintenance for my website?</summary>
    <p>
      Absolutely! We provide a premium development package that offers a full website build, feature
      updates, maintence, SEO, hosting and more at an affordable monthly rate. Or, if you would like
      a simpler solution, we offer a reliable hosting package that ensures your website remains
      secure, loads quickly, and is regularly backed up. However, some folks like to handle these
      things on their own, and that is totally fine! In these cases, we can help you get set up with
      recommended hosting and remain available for updates at our normal hourly rate.
    </p>
  </details>
  <details>
    <summary
      >Why work with a professional agency when I can use low-code website builders like Wix,
      Webflow, or Squarespace?</summary
    >
    <p>
      We love low-code tools, and sometimes use them ourselves! While builders like Wix, Webflow, or
      Squarespace are user-friendly and provide many benefits, a web development agency offers
      unique insight to help create custom functionalities and ensure optimal performance and
      scalability. With an agency, you gain personal support, technical expertise, and a carefully
      tailored website that reflects your brand and stands out from the crowd. We at Wave Land Web
      prefer to build custom-coded websites because of the endless flexibilty code provides, but are
      happy to set you up with a low-code option of your choice.
    </p>
  </details>
  <details>
    <summary>How much will my website cost?</summary>
    <p>
      The cost of a website depends on various factors, such as its complexity, features, and the
      amount of customization required. Click <a
        href="/files/service-offerings-and-rates.pdf"
        download>here</a
      > to download all available pricing options, and feel free to reach out below with any other questions!
    </p>
  </details>
</section>

<style>
  details {
    max-width: 800px;
    margin: 1.75rem auto;
    padding-bottom: 1.75rem;
    color: var(--color-grey-text);
    border-bottom: 1px solid var(--color-grey-text);
    transition: var(--transition-normal);
  }

  @media (min-width: 768px) {
    details {
      margin: 2rem auto;
      padding-bottom: 2rem;
    }
  }

  details:hover,
  details[open],
  details[open] summary::after,
  details:hover summary::after {
    color: var(--color-black);
  }

  details:hover,
  details[open] {
    border-bottom: 1px solid var(--color-black);
  }

  summary {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    line-height: 1.5;
    list-style: none;
    cursor: pointer;
  }

  @media (min-width: 768px) {
    summary {
      font-size: var(--size-small);
    }
  }

  summary::-webkit-details-marker {
    display: none;
  }

  details[open] summary {
    font-weight: bold;
    padding-bottom: 1rem;
  }

  summary::after {
    content: '＋';
    color: var(--color-grey-text);
    transition: color var(--transition-normal);
  }

  details[open] summary::after {
    content: '－';
  }

  details p {
    font-size: var(--size-extra-small);
  }

  @media (min-width: 768px) {
    details p {
      font-size: var(--size-small);
    }
  }

  details a {
    text-decoration: underline;
    color: var(--color-purple);
    transition: all var(--transition-normal);
  }

  details a:hover {
    opacity: var(--hover-opacity-link);
  }
</style>
