---
import SocialIcons from '../../layout/SocialIcons.astro'
import BouncingArrow from '../../animations/BouncingArrow.astro'
import JoshCta from '../../buttons/JoshCta.astro'
import RotatingCircles from '../../animations/RotatingCircles.astro'
---

<header id="header" data-scroll-index="0">
  <RotatingCircles />
  <section class="header-info">
    <div class="info">
      <h1>Wave Land Web</h1>
      <p>Helping Artists & Creatives Build Their Digital Presence</p>
      <JoshCta text="Create Your Website" url="/#contact" />
      <SocialIcons />
    </div>
  </section>
  <BouncingArrow scrollToLink="#work" />
</header>

<style>
  header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 10rem);
  }

  .header-info {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vw;
    width: 100%;
    margin-bottom: 4rem;
    text-align: center;
  }

  @media (min-width: 768px) {
    .header-info {
      flex-direction: row-reverse;
      justify-content: center;
      gap: 2vw;
      margin-bottom: 8rem;
    }
  }

  .header-info img {
    width: 48vw;
    height: 100%;
    max-width: 250px;
    box-shadow: var(--box-shadow-light);
    border: 2px solid var(--color-black);
    border-radius: 50%;
  }

  .info h1 {
    margin-bottom: 1rem;
    font-size: var(--size-extra-large);
  }

  @media (min-width: 768px) {
    .info h1 {
      font-size: var(--size-mega-large);
    }
  }

  .info p {
    width: 88%;
    max-width: 36rem;
    margin: 0 auto 1rem;
    font-size: var(--size-small);
    font-weight: var(--weight-bold);
  }

  @media (min-width: 768px) {
    .info p {
      font-size: var(--size-medium);
    }
  }

  .info a {
    margin-bottom: 1.5rem;
  }
</style>
