---
import Layout from './Layout.astro'

const { frontmatter } = Astro.props
---

<Layout
  title={`Wave Land Web | ${frontmatter.title}`}
  description={frontmatter.description}
  socialImage={frontmatter.socialImage}
>
  <div id="blog-layout" class="blog-layout">
    <slot />
  </div>
</Layout>

<style is:inline>
  .blog-header {
    padding: 0;
  }

  .blog-header h1 {
    margin-bottom: 1rem;
    font-size: var(--size-lg);
    text-align: center;
  }

  @media (min-width: 768px) {
    .blog-header h1 {
      font-size: var(--size-xl);
    }
  }

  .blog-layout .blog-header p {
    margin-bottom: 1rem;
    color: var(--color-grey-text);
    text-align: center;
  }

  .blog-header img {
    display: inline-block;
    height: 350px;
    object-fit: cover;
    margin: 1rem auto;
  }

  /* Layout styles */

  .blog-layout {
    max-width: 800px;
    margin: 4rem auto;
    padding: 1rem;
    text-align: left;
  }

  @media (min-width: 768px) {
    .blog-layout {
      padding: 0 2rem 2rem;
    }
  }

  .blog-layout img {
    border-radius: 5px;
  }

  .blog-layout pre {
    margin: 2rem auto;
    padding: 1rem;
    font-size: var(--size-xs);
    border-radius: 5px;
  }

  @media (min-width: 768px) {
    .blog-layout pre {
      margin: 2.5rem auto 2.5rem;
      padding: 2rem;
      font-size: var(--size-sm);
    }
  }

  .blog-layout > picture img {
    margin: 2rem auto;
    border-radius: 5px;
  }

  @media (min-width: 768px) {
    .blog-layout > picture img {
      margin: 2.5rem auto;
    }
  }

  .blog-layout > picture img.small {
    max-width: 450px;
    margin-left: initial;
  }

  .blog-layout h2 {
    font-size: var(--size-base);
  }

  @media (min-width: 768px) {
    .blog-layout h2 {
      font-size: var(--size-lg);
    }
  }

  .blog-layout h2,
  .blog-layout h3 {
    margin: 3rem 0 1rem;
  }

  @media (min-width: 768px) {
    .blog-layout h2,
    .blog-layout h3 {
      margin: 4rem 0 2rem;
    }
  }

  .blog-layout ul,
  .blog-layout ol {
    margin-bottom: 2rem;
  }

  .blog-layout li {
    margin-bottom: 1rem;
  }

  .blog-layout ul li {
    list-style-type: disc;
  }

  .blog-layout ol li {
    list-style-type: decimal;
  }

  .blog-layout p,
  .blog-layout li {
    margin-bottom: 1rem;
  }

  @media (min-width: 768px) {
    .blog-layout p,
    .blog-layout li {
      margin-bottom: 1.5rem;
      font-size: var(--size-sm);
    }
  }

  .blog-layout p code {
    padding: 0.1rem 0.3rem 0.2rem;
    white-space: nowrap;
    box-decoration-break: clone;
    background: var(--color-grey-transparent);
    border-radius: 0.25rem;
  }
</style>
